/*Codes By Mahdi Tasha*/
.my-fs-1 {font-size: 1px !important;}
.my-fs-2 {font-size: 2px !important;}
.my-fs-3 {font-size: 3px !important;}
.my-fs-4 {font-size: 4px !important;}
.my-fs-5 {font-size: 5px !important;}
.my-fs-6 {font-size: 6px !important;}
.my-fs-7 {font-size: 7px !important;}
.my-fs-8 {font-size: 8px !important;}
.my-fs-9 {font-size: 9px !important;}
.my-fs-10 {font-size: 10px !important;}
.my-fs-11 {font-size: 11px !important;}
.my-fs-12 {font-size: 12px !important;}
.my-fs-13 {font-size: 13px !important;}
.my-fs-14 {font-size: 14px !important;}
.my-fs-15 {font-size: 15px !important;}
.my-fs-16 {font-size: 16px !important;}
.my-fs-17 {font-size: 17px !important;}
.my-fs-18 {font-size: 18px !important;}
.my-fs-19 {font-size: 19px !important;}
.my-fs-20 {font-size: 20px !important;}
.my-fs-21 {font-size: 21px !important;}
.my-fs-22 {font-size: 22px !important;}
.my-fs-23 {font-size: 23px !important;}
.my-fs-24 {font-size: 24px !important;}
.my-fs-25 {font-size: 25px !important;}
.my-fs-26 {font-size: 26px !important;}
.my-fs-27 {font-size: 27px !important;}
.my-fs-28 {font-size: 28px !important;}
.my-fs-29 {font-size: 29px !important;}
.my-fs-30 {font-size: 30px !important;}
.my-fs-31 {font-size: 31px !important;}
.my-fs-32 {font-size: 32px !important;}
.my-fs-33 {font-size: 33px !important;}
.my-fs-34 {font-size: 34px !important;}
.my-fs-35 {font-size: 35px !important;}
.my-fs-36 {font-size: 36px !important;}
.my-fs-37 {font-size: 37px !important;}
.my-fs-38 {font-size: 38px !important;}
.my-fs-39 {font-size: 39px !important;}
.my-fs-40 {font-size: 40px !important;}
.my-fs-41 {font-size: 41px !important;}
.my-fs-42 {font-size: 42px !important;}
.my-fs-43 {font-size: 43px !important;}
.my-fs-44 {font-size: 44px !important;}
.my-fs-45 {font-size: 45px !important;}
.my-fs-46 {font-size: 46px !important;}
.my-fs-47 {font-size: 47px !important;}
.my-fs-48 {font-size: 48px !important;}
.my-fs-49 {font-size: 49px !important;}
.my-fs-50 {font-size: 50px !important;}
.my-fs-51 {font-size: 51px !important;}
.my-fs-52 {font-size: 52px !important;}
.my-fs-53 {font-size: 53px !important;}
.my-fs-54 {font-size: 54px !important;}
.my-fs-55 {font-size: 55px !important;}
.my-fs-56 {font-size: 56px !important;}
.my-fs-57 {font-size: 57px !important;}
.my-fs-58 {font-size: 58px !important;}
.my-fs-59 {font-size: 59px !important;}
.my-fs-60 {font-size: 60px !important;}
.my-fs-61 {font-size: 61px !important;}
.my-fs-62 {font-size: 62px !important;}
.my-fs-63 {font-size: 63px !important;}
.my-fs-64 {font-size: 64px !important;}
.my-fs-65 {font-size: 65px !important;}
.my-fs-66 {font-size: 66px !important;}
.my-fs-67 {font-size: 67px !important;}
.my-fs-68 {font-size: 68px !important;}
.my-fs-69 {font-size: 69px !important;}
.my-fs-70 {font-size: 70px !important;}
.my-fs-71 {font-size: 71px !important;}
.my-fs-72 {font-size: 72px !important;}
.my-fs-73 {font-size: 73px !important;}
.my-fs-74 {font-size: 74px !important;}
.my-fs-75 {font-size: 75px !important;}
.my-fs-76 {font-size: 76px !important;}
.my-fs-77 {font-size: 77px !important;}
.my-fs-78 {font-size: 78px !important;}
.my-fs-79 {font-size: 79px !important;}
.my-fs-80 {font-size: 80px !important;}
.my-fs-81 {font-size: 81px !important;}
.my-fs-82 {font-size: 82px !important;}
.my-fs-83 {font-size: 83px !important;}
.my-fs-84 {font-size: 84px !important;}
.my-fs-85 {font-size: 85px !important;}
.my-fs-86 {font-size: 86px !important;}
.my-fs-87 {font-size: 87px !important;}
.my-fs-88 {font-size: 88px !important;}
.my-fs-89 {font-size: 89px !important;}
.my-fs-90 {font-size: 90px !important;}
.my-fs-91 {font-size: 91px !important;}
.my-fs-92 {font-size: 92px !important;}
.my-fs-93 {font-size: 93px !important;}
.my-fs-94 {font-size: 94px !important;}
.my-fs-95 {font-size: 95px !important;}
.my-fs-96 {font-size: 96px !important;}
.my-fs-97 {font-size: 97px !important;}
.my-fs-98 {font-size: 98px !important;}
.my-fs-99 {font-size: 99px !important;}
.my-fs-100 {font-size: 100px !important;}