/*Codes By Mahdi Tasha*/
.my-fs-1 {font-size: 1px;}
.my-fs-2 {font-size: 2px;}
.my-fs-3 {font-size: 3px;}
.my-fs-4 {font-size: 4px;}
.my-fs-5 {font-size: 5px;}
.my-fs-6 {font-size: 6px;}
.my-fs-7 {font-size: 7px;}
.my-fs-8 {font-size: 8px;}
.my-fs-9 {font-size: 9px;}
.my-fs-10 {font-size: 10px;}
.my-fs-11 {font-size: 11px;}
.my-fs-12 {font-size: 12px;}
.my-fs-13 {font-size: 13px;}
.my-fs-14 {font-size: 14px;}
.my-fs-15 {font-size: 15px;}
.my-fs-16 {font-size: 16px;}
.my-fs-17 {font-size: 17px;}
.my-fs-18 {font-size: 18px;}
.my-fs-19 {font-size: 19px;}
.my-fs-20 {font-size: 20px;}
.my-fs-21 {font-size: 21px;}
.my-fs-22 {font-size: 22px;}
.my-fs-23 {font-size: 23px;}
.my-fs-24 {font-size: 24px;}
.my-fs-25 {font-size: 25px;}
.my-fs-26 {font-size: 26px;}
.my-fs-27 {font-size: 27px;}
.my-fs-28 {font-size: 28px;}
.my-fs-29 {font-size: 29px;}
.my-fs-30 {font-size: 30px;}
.my-fs-31 {font-size: 31px;}
.my-fs-32 {font-size: 32px;}
.my-fs-33 {font-size: 33px;}
.my-fs-34 {font-size: 34px;}
.my-fs-35 {font-size: 35px;}
.my-fs-36 {font-size: 36px;}
.my-fs-37 {font-size: 37px;}
.my-fs-38 {font-size: 38px;}
.my-fs-39 {font-size: 39px;}
.my-fs-40 {font-size: 40px;}
.my-fs-41 {font-size: 41px;}
.my-fs-42 {font-size: 42px;}
.my-fs-43 {font-size: 43px;}
.my-fs-44 {font-size: 44px;}
.my-fs-45 {font-size: 45px;}
.my-fs-46 {font-size: 46px;}
.my-fs-47 {font-size: 47px;}
.my-fs-48 {font-size: 48px;}
.my-fs-49 {font-size: 49px;}
.my-fs-50 {font-size: 50px;}
.my-fs-51 {font-size: 51px;}
.my-fs-52 {font-size: 52px;}
.my-fs-53 {font-size: 53px;}
.my-fs-54 {font-size: 54px;}
.my-fs-55 {font-size: 55px;}
.my-fs-56 {font-size: 56px;}
.my-fs-57 {font-size: 57px;}
.my-fs-58 {font-size: 58px;}
.my-fs-59 {font-size: 59px;}
.my-fs-60 {font-size: 60px;}
.my-fs-61 {font-size: 61px;}
.my-fs-62 {font-size: 62px;}
.my-fs-63 {font-size: 63px;}
.my-fs-64 {font-size: 64px;}
.my-fs-65 {font-size: 65px;}
.my-fs-66 {font-size: 66px;}
.my-fs-67 {font-size: 67px;}
.my-fs-68 {font-size: 68px;}
.my-fs-69 {font-size: 69px;}
.my-fs-70 {font-size: 70px;}
.my-fs-71 {font-size: 71px;}
.my-fs-72 {font-size: 72px;}
.my-fs-73 {font-size: 73px;}
.my-fs-74 {font-size: 74px;}
.my-fs-75 {font-size: 75px;}
.my-fs-76 {font-size: 76px;}
.my-fs-77 {font-size: 77px;}
.my-fs-78 {font-size: 78px;}
.my-fs-79 {font-size: 79px;}
.my-fs-80 {font-size: 80px;}
.my-fs-81 {font-size: 81px;}
.my-fs-82 {font-size: 82px;}
.my-fs-83 {font-size: 83px;}
.my-fs-84 {font-size: 84px;}
.my-fs-85 {font-size: 85px;}
.my-fs-86 {font-size: 86px;}
.my-fs-87 {font-size: 87px;}
.my-fs-88 {font-size: 88px;}
.my-fs-89 {font-size: 89px;}
.my-fs-90 {font-size: 90px;}
.my-fs-91 {font-size: 91px;}
.my-fs-92 {font-size: 92px;}
.my-fs-93 {font-size: 93px;}
.my-fs-94 {font-size: 94px;}
.my-fs-95 {font-size: 95px;}
.my-fs-96 {font-size: 96px;}
.my-fs-97 {font-size: 97px;}
.my-fs-98 {font-size: 98px;}
.my-fs-99 {font-size: 99px;}
.my-fs-100 {font-size: 100px;}