/*Codes By Mahdi Tasha*/
:root {
    --my-desire: #ED3455;
    --my-american-blue: #3F4260;
    --my-gunmetal: #2B2D42;
    --my-dark-blue-gray: #676C9C;
    --my-yeloow-orange: #FFAC41;
    --my-cadet-blue :#A4A7C4;
}