@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 200;
    src: url('font/IRANSans(FaNum)_UltraLight.ttf');
}

@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 300;
    src: url('font/IRANSans(FaNum)_Light.ttf');
}

@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 500;
    src: url('font/IRANSans(FaNum)_Medium.ttf');
}

@font-face {
    font-style: normal;
    font-weight: 900;
    src: url('font/IRANSans(FaNum)_Bold.ttf');
}
